In [ ]:
import pandas as pd
homelessness=pd.read_csv('F:\DATACAMP\DATA MANIPULATION\C_1\homelessness.csv')
homelessness.values

In [27]:
homelessness.sort_values(['family_members','state_pop'], ascending=[False,False]).head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
4,4,Pacific,California,109008.0,20964.0,39461588
21,21,New England,Massachusetts,6811.0,13257.0,6882635
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
43,43,West South Central,Texas,19199.0,6111.0,28628666